html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 125%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(4, 0, 255);
}
a:hover, a:focus {
  color: rgb(44, 208, 74);
  transition: ease-in-out 0.3s;
}

button {
  line-height: 1.5;
  color: #333;
  background: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover, button:focus {
  background: #333;
  color: #fff;
  transition: ease-in-out 0.3s;
}

footer {
  font-size: 1rem;
  text-align: center;
  margin: 8rem auto 2rem auto;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 4rem 0;
}

.menuContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 20%;
}
.menuContainer li {
  margin-right: 30px;
}

.logo img {
  border-radius: 50%;
}

.slideOutNav {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 0.75s;
  border: 1px solid rgb(4, 0, 255);
}
.slideOutNav a,
.slideOutNav i {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin: 1.5rem 0;
  transition: 0.25s;
}
.slideOutNav a:hover, .slideOutNav a:focus,
.slideOutNav i:hover,
.slideOutNav i:focus {
  color: rgb(44, 208, 74);
}
.slideOutNav i {
  font-size: 2rem;
  margin-left: 8rem;
}
.slideOutNav li {
  padding: 0.5rem;
}

.dark-theme body {
  background-color: #333;
  color: #fff;
}
.dark-theme button {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}
.dark-theme button:hover, .dark-theme button:focus {
  background-color: #fff;
  color: #333;
  transition: ease-in-out 0.25s;
}
.dark-theme a {
  color: rgb(44, 208, 74);
}
.dark-theme a:hover, .dark-theme a:focus {
  color: #fff;
  transition: ease-in-out 0.25s;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.total-section {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.currency {
  text-align: right;
}

.input-form input {
  margin: 0.5rem;
  line-height: 3rem;
  padding: 0 0.25rem;
  width: 20vw;
}
.input-form .expense-list-item, .input-form .income-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 90%;
  margin: 0 auto;
}
.input-form .expense-list-item p, .input-form .income-list-item p {
  width: 33%;
}
.input-form .total-section {
  margin: 4rem auto;
}